#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    width: 100vw;
    margin: 0;
    gap: 0;
  }
  
  .block {
    overflow: hidden;
  }
  
  .block img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  h1 {
    font-family: Arial Black;
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15rem;
    left: 2rem;

  }
  