#portfolio {
    column-count: 5; 
    column-gap: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  
  .block {
    break-inside: avoid;
    margin: 0;
    padding: 0;
  }
  
  .block img {
    width: 100%;
    height: auto;
    display: block;
  }
  h1 {
    font-family: Arial Black;
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15rem;
    left: 2rem;

  }
  #load-more {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 9999;
  
    background: rgba(255,255,255,0.85);
    border: 1px solid rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
  
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8); /* dark overlay */
  align-items: center;
  justify-content: center;
}


.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
