#portfolio {
    column-count: 5; 
    column-gap: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  
  .block {
    break-inside: avoid;
    margin: 0;
    padding: 0;
  }
  
  .block img {
    width: 100%;
    height: auto;
    display: block;
  }
  h1 {
    font-family: Arial Black;
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15rem;
    left: 2rem;

  }