@font-face {
  font-family: 'Bodoni Smallcaps';
  src: url(./Bodoni\ 72\ Smallcaps\ Book.ttf);
}
/*DESKTOP*/
/*DESKTOP*/
/*DESKTOP*/
@media (min-width: 801px){
body { 
  backdrop-filter: blur(100%);
  
}
html{
  background-size: contain;
  background-color: rgb(140, 250, 160); 
  overflow-x: hidden;

}
.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: 10px;
  gap: 40px;
}
#weed-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
  gap:0;
  margin: 0;
  padding: 0;
  border: none;
  width: 100vw;
}
  
.weed-item {
  margin: 0;
  padding: 0;
  border-radius: 0;
  
}

.weed-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
  .weed-item p {
    position: relative;
    top: 5px;
    right: 5px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1rem; 
    font-family: 'arial black';
    background-color: rebeccapurple;
  }

#sort-button, #random-button {
    margin: 0 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    border-color: 1px solid black;
    padding: 5px;
}
  h1 {
    font-family: 'Bodoni Smallcaps';
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);

  }

      /* DESKTOP MODAL */
      /* DESKTOP MODAL */
      /* DESKTOP MODAL */
      /* DESKTOP MODAL */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 700px;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
}
/*MOBILE*/
/*MOBILE*/
/*MOBILE*/
@media (min-width: 0) and (max-width: 800px) {
  
  html{ 
    background-color: rgb(140, 250, 160);
  }
  #weed-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
    
  .weed-item img {
    max-width: 100%;
    height: auto;
  }
    .weed-item p {
      position: relative;
      top: 5px;
      right: 5px;
      color: rgb(255, 255, 255);
      margin: 0;
      font-size: 1.5rem; 
      font-family: 'arial black';
      background-color: rebeccapurple;
    }
    h1 {
      font-family: 'Bodoni Smallcaps';
      font-size: 3rem;
      text-align: center;
      color: rgb(0, 0, 0);
    }
    p{
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.5rem;
      text-align: center;
      color: rgb(0, 0, 0);
    }
    #sort-button, #random-button {
      color: rgb(0, 0, 0);
      border-color: 1px solid black;
      padding: 5px;
  }
}